{% extends 'base.html.twig' %}

{% block body %}
<h1>Accueil</h1>
    {% if is_granted('ROLE_USER') %}
        <div class="nav">
            <a href="{{ path('app_participant_voir_profil', {id: app.user.id}) }}">Voir mon profil</a>
            <a href="{{ path('app_participant_deconnexion') }}">Se déconnecter</a>

    {% else %}
            <a href="{{ path('app_participant_connexion') }}">Se connecter</a>
            <a href="{{ path('app_participant_inscription') }}">S'inscrire</a>
        </div>
    {% endif %}
{% endblock %}