{%  extends 'base.html.twig' %}

{% block body %}
    <h1>S'inscrire</h1>
    {{ form_start(inscriptionForm) }}
    {{ form_widget(inscriptionForm) }}
    <button type="submit">S'inscrire</button>

    {{ form_end(inscriptionForm) }}
{% endblock %}