{%  extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Modifier mon profil</h1>
        {{ form_start(profilForm) }}
        {{ form_widget(profilForm) }}
        <button type="submit">Modifier mon profil</button>

        {{ form_end(profilForm) }}
    </div>

{% endblock %}

{% block title %}Modifier mon profil{% endblock %}