{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="d-flex justify-content-center">Modifier mon profil</h1>
        {{ form_start(profilForm) }}
        {{ form_widget(profilForm) }}
        <button type="submit" class="btn btn-primary">Enregistrer</button>
        <button type="reset" class="btn btn-danger">Annuler</button>

        {{ form_end(profilForm) }}
    </div>
{% endblock %}
{% block title %}Modifier mon profil{% endblock %}